<div class="hide-on-small-only">
  <%= form_tag(search_jobs_path, method: :get) do %>
    <div class="wrap">
      <div class="search">
          <%= text_field_tag 'query', params[:query], placeholder: '   I\'m looking for...', class: "searchTerm browser-default" %>
        <button type="submit" class="searchButton">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  <%end%>
</div>

<div class="hide-on-med-and-up">
  <%= form_tag(search_jobs_path, method: :get) do %>
    <div class="wrap-mobile">
      <div class="search">
          <%= text_field_tag 'query', params[:query], placeholder: '   I\'m looking for...', class: "searchTerm browser-default" %>
        <button type="submit" class="searchButton">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  <%end%>
</div>

<%- if !user_signed_in? %>
  <div class="parallax-container">
     <div class="parallax"><img src=<%= asset_path('parallax1.jpg')%> ></div>
   </div>
   <div class="section white">
     <div class="row container">
     	<div class="col s12 m6 center hide-on-small-and-down">
         <img src=<%= asset_path('helper.jpg')%> height="400" width="350", class="responsive-img" >
     	</div>
       <div class="col s6 offset-s3 m6 center hide-on-med-and-up">
         <img src=<%= asset_path('helper.jpg')%> height="500" width="400", class="circle responsive-img" >
       </div>
       <div class="hide-on-small-only">
     		<div class="col s12 m6">
     			<h5>Help You Clean</h5>
     			<ul class="start-feature-list">
     			  <li>House chores stress relieved! </li>
            <li>No more problems and duties. </li>
     			</ul>
     			<p><a href="#custom">GET MORE INFO</a></p>
     		</div>
       </div>
       <div class="hide-on-med-and-up">
         <div class="col s12 m6 center">
           <h5>Help You Clean</h5>
           <ul class="start-feature-list">
             <li>House chores stress relieved! </li>
             <li>No more problems and duties. </li>
           </ul>
           <p><a href="#custom">GET MORE INFO</a></p>
         </div>
       </div>
     </div>
   </div>
   <div class="parallax-container">
     <div class="parallax"><img src=<%= asset_path('parallax2.jpg')%> ></div>
   </div>



<br/>

<br/>
<div class="row container">
	<div class="col s12 m6 center hide-on-small-and-down">
    <img src=<%= asset_path('helper.jpg')%> height="400" width="350", class="responsive-img" >
	</div>
  <div class="col s6 offset-s3 m6 center hide-on-med-and-up">
    <img src=<%= asset_path('helper.jpg')%> height="500" width="400", class="circle responsive-img" >
  </div>
  <div class="hide-on-small-only">
		<div class="col s12 m6">
			<h5>Customise</h5>
			<ul class="start-feature-list">
			  <li>TEST PUT WORDS HERE</li>
			</ul>
			<p><a href="#custom">GET MORE INFO</a></p>
		</div>
  </div>
  <div class="hide-on-med-and-up">
    <div class="col s12 m6 center">
      <h5>Customise</h5>
      <ul class="start-feature-list">
        <li>TEST PUT WORDS HERE</li>
      </ul>
      <p><a href="#custom">GET MORE INFO</a></p>
    </div>
  </div>
</div>
<%end%>



<%- if current_user && current_user.employee? || current_user && current_user.admin? %>
<div class="container">
  <br/>
  <br/>
  <br/>
  <% if !@jobs.empty? %>
    <h3 class="center">Recommended Jobs </h3>
  <%end%>
<div class="row hide-on-med-and-up">
  <% @jobs.each do |job|%>
    <div class="col s12">
      <div class="card">
        <div class="card-content black-text">
          <span class="card-title"><%=link_to job.title, job_path(job.id)%></span>
          <p class="grey-text"><i class="material-icons">location_on</i> <%= job.work_location%>
            <%- if job.user.proof_verified %>
              <i class="material-icons">check_circle</i> Verified
            <%end%>
          </p>
          </p>
          <p><%= raw job.job_description.truncate(200) %></p>
          <p><%= link_to 'read more', job_path(job.id) %> </p>
        </div>
      </div>
    </div>
  <%end%>
  <% if @jobs.empty? %>
    <center><p>
      <%- if current_user.age.nil? %>
      <%= button_to "Customize Profile", customize_user_path(current_user),
      :class => "btn", :method => :get %>
      <%else%>
      <center><h4>No Jobs Available</h4></center>
      <%end%>
    </p></center>
  <% end %>
<br/>
  <div class="col s12">
    <%= will_paginate @jobs %>
  </div>
</div>
<div class="row hide-on-small-and-down">
  <% @jobs.each do |job|%>
    <div class="col s8 offset-s2">
      <div class="card">
        <div class="card-content black-text">
          <span class="card-title"><%=link_to job.title, job_path(job.id)%></span>
          <p class="grey-text"><i class="material-icons">location_on</i> <%= job.work_location%>
            <%- if job.user.proof_verified %>
              <i class="material-icons">check_circle</i> Verified
            <%end%>
          </p>
          </p>
          <p><%= raw job.job_description.truncate(200) %></p>
          <p><%= link_to 'read more', job_path(job.id) %> </p>
        </div>
      </div>
    </div>
  <%end%>
  <% if @jobs.empty? %>
    <center><p>
      <%- if current_user.age.nil? %>
      <%= button_to "Customize Profile", customize_user_path(current_user),
      :class => "btn", :method => :get %>
      <%else%>
      <center><h4>No Jobs Available</h4></center>
      <%end%>
    </p></center>
  <% end %>
<br/>
  <div class="col s8 offset-s2">
    <%= will_paginate @jobs %>
  </div>
</div>
</div>
<%end%>
