<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=132608314064760';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<head>
  <style>
    body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }

    main {
      flex: 1 0 auto;
    }

    body {
      background: #fff;
    }

    .input-field input[type=date]:focus + label,
    .input-field input[type=text]:focus + label,
    .input-field input[type=email]:focus + label,
    .input-field input[type=password]:focus + label {
      color: #e91e63;
    }

    .input-field input[type=date]:focus,
    .input-field input[type=text]:focus,
    .input-field input[type=email]:focus,
    .input-field input[type=password]:focus {
      border-bottom: 2px solid #e91e63;
      box-shadow: none;
    }
  </style>
</head>

<body>
  <div class="section"></div>
  <main>
    <center>
      <div class="section"></div>
      <%= devise_error_messages! %>
      <%= link_to user_google_oauth2_omniauth_authorize_path do %>
        <button class="loginBtn loginBtn--google">
          Login with Google
        </button>
      <%end%>
      <br/>
      <%= link_to user_facebook_omniauth_authorize_path do %>
        <button class="loginBtn loginBtn--facebook">
          Login with Facebook
        </button>
      <%end%>

      <!-- <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class: "btn"%> -->
      <!-- <h5 class="indigo-text">Please, login into your account</h5> -->
      <div class="section"></div>

      <div class="container">
        <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class='row'>
              <div class='col s12'>
                <h4 class="indigo-text">Log In</h4>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                <%= f.text_field :login, id: "login", type: "text", class: "validate", :required => true %>
                <label for="login">Enter your username or email</label>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                <%= f.password_field :password, autocomplete: "off",id: "password", :required => true %>
                <label for="password", class: "active">Enter your password</label>
              </div>
              <label style='float: right;'>
                <%= link_to "Forgot Password?", new_password_path(resource_name), class:'pink-text' %>
								<!-- <a class='pink-text' href='#!'><b>Forgot Password?</b></a> -->
							</label>
            </div>

            <br />
            <center>
              <div class='row'>
                <%= f.submit "Login" , class: "col s12 btn btn-large waves-effect indigo" %>
                <!-- <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Login</button> -->
              </div>
            </center>
          <%end%>
        </div>
      </div>
      <%=link_to "Create Account", new_user_registration_path %>
    </center>

    <div class="section"></div>
    <div class="section"></div>
  </main>

</body>
