<!DOCTYPE html>
<html>

  <head>
    <title>Maid</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="Content-Language" content="en">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://unpkg.com/react-table@latest/react-table.css">
  </head>
  <style>
    .side-nav li > a {
      padding: 0 16px;
    }
  </style>
  <header>
    <%- if !user_signed_in? %>
    <nav class="nav-extended green">
    <div class="nav-background"></div>
      <div class="nav-wrapper container">
        <%= link_to "Ka-tulong", root_path, class:"brand-logo"%>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if current_user %>
              <% if current_user.admin %>
                  <li><%= link_to "All Users List", users_path %></li>
                  <li><%= link_to "Validate", validates_path %></li>
              <%end%>
              <% if current_user.employer? && current_user || current_user.admin? && current_user %>
                <li><%= link_to "Post Ad", new_job_path %></li>
              <%end%>
          <li><a class="dropdown-button" href="#!" data-activates="dropdown5"><%= current_user.first_name %><i class="material-icons right">arrow_drop_down</i></a></li>
          <ul id="dropdown5" class="dropdown-content">
              <li><%= link_to "Profile", current_user %> </li>
              <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
          </ul>
          <%else%>
          <li><%=link_to "Log in", new_user_session_path %></li>
          <li><%=link_to "Create Account", new_user_registration_path %></li>
          <%end%>
        </ul>
      </div>
      <div class="nav-header center">
          <h1>Ka-tulong</h1>
          <div class="tagline">Hello</div>
      </div>
    </nav>
    <ul class="side-nav" id="mobile-demo">
      <% if current_user %>
          <ul class="collapsible collapsible-accordion">
             <li>
               <a class="collapsible-header waves-effect waves-teal"><%=current_user.first_name%></a>
               <div class="collapsible-body">
                 <ul>
                   <li><%= link_to "Profile", current_user %> </li>
                   <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
                 </ul>
               </div>
             </li>
             <% if current_user.admin %>
                 <li><%= link_to "All Users List", users_path %></li>
                 <li><%= link_to "Validate", validates_path %></li>
             <%end%>
             <% if current_user.employer? && current_user || current_user.admin? && current_user %>
               <li><%= link_to "Post Ad", new_job_path %></li>
             <%end%>
          </ul>
      <%else%>
        <li><%=link_to "Log in", new_user_session_path %></li>
        <li><%=link_to "Create Account", new_user_registration_path %></li>
      <%end%>
    </ul>
  <%else%>

  <nav class="nav green lighten-1">
    <div class="nav-wrapper container">
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <%= link_to "Ka-tulong", root_path, class:"brand-logo"%>
      <ul class="right hide-on-med-and-down compress">
        <% if current_user %>
            <% if current_user.admin %>
                <li><%= link_to "All Users List", users_path %></li>
                <li><%= link_to "Validate", validates_path %></li>
            <%end%>
            <% if current_user.employer? && current_user || current_user.admin? && current_user %>
              <li><%= link_to "Post Ad", new_job_path %></li>
            <%end%>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown5"><%= current_user.first_name %><i class="material-icons right">arrow_drop_down</i></a></li>
        <ul id="dropdown5" class="dropdown-content">
            <li><%= link_to "Profile", current_user %> </li>
            <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
        </ul>
        <%else%>
        <li><%=link_to "Log in", new_user_session_path %></li>
        <li><%=link_to "Create Account", new_user_registration_path %></li>
        <%end%>
      </ul>
    </div>
  </nav>
      <ul class="side-nav" id="mobile-demo">
        <% if current_user %>
            <ul class="collapsible collapsible-accordion">
               <li>
                 <a class="collapsible-header waves-effect waves-teal"><%=current_user.first_name%></a>
                 <div class="collapsible-body">
                   <ul>
                     <li><%= link_to "Profile", current_user %> </li>
                     <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
                   </ul>
                 </div>
               </li>
               <% if current_user.admin %>
                   <li><%= link_to "All Users List", users_path %></li>
                   <li><%= link_to "Validate", validates_path %></li>
               <%end%>
               <% if current_user.employer? && current_user || current_user.admin? && current_user %>
                 <li><%= link_to "Post Ad", new_job_path %></li>
               <%end%>
            </ul>
        <%else%>
          <li><%=link_to "Log in", new_user_session_path %></li>
          <li><%=link_to "Create Account", new_user_registration_path %></li>
        <%end%>
      </ul>
  <%end%>
  </header>
<main>
  <body>
    <% if flash[:notice] %>
      <script type="text/javascript">
        Materialize.toast('<%= notice %>', 6000)
      </script>
    <% elsif flash[:error] %>
      <script type="text/javascript">
        Materialize.toast('<%= flash[:error] %>', 6000)
      </script>
    <% elsif flash[:alert] %>
      <script type="text/javascript">
        Materialize.toast('<%= alert %>', 6000)
      </script>
    <% end %>

    <!-- <div class="container"> -->
      <%= yield %>
    <!-- </div> -->
  </body>
</main>
<div class="fixed-action-btn">
  <a class="btn-floating btn-large waves-effect waves-light orange pulse" href="mailto:someperson@example.com" target="_blank">
      <i class="material-icons">message</i>
  </a>
</div>
<footer class="page-footer green lighten-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/tos">Terms of Service</a></li>
          <li><a class="grey-text text-lighten-3" href="#!"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="#!"><i class="fa fa-twitter-square" aria-hidden="true"></i> Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 Copyright Ka-tulong
    <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
    </div>
  </div>
</footer>

</html>
